name: test
on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. 拉取你自己的仓库（三件套 + 检测脚本）
      - name: Checkout open-immortalwrt-mt7981 repo
        uses: actions/checkout@v4
      
     
      # 5. 最大化磁盘空间（避免爆盘）
      - name: Expand disk space
        run: |
          echo "Before cleanup:"
          df -h
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/hostedtoolcache
          sudo docker system prune -af || true
          echo "After cleanup:"
          df -h
          


      # 3. 覆盖适配文件到官方源码
      - name: Apply HY3000 device files
        run: |
          cp  $GITHUB_WORKSPACE/hy3000/target/linux/mediatek/image/filogic.mk openwrt/target/linux/mediatek/image/
          cp $GITHUB_WORKSPACE/hy3000/target/linux/mediatek/dts/mt7981b-philips-hy3000.dts openwrt/target/linux/mediatek/dts/
          cp $GITHUB_WORKSPACE/hy3000/target/linux/mediatek/filogic/base-files/etc/board.d/02_network openwrt/target/linux/mediatek/filogic/base-files/etc/board.d/
          cp $GITHUB_WORKSPACE/hy3000/target/linux/mediatek/filogic/base-files/lib/upgrade/platform.sh  openwrt/target/linux/mediatek/filogic/base-files/lib/upgrade/        
          cp $GITHUB_WORKSPACE/hy3000/hy3000.conf openwrt/.config

      # 4. 运行新版检测脚本（检查 openwrt/ 目录）
      - name: Run hy3000 environment check
        run: |
          chmod +x $GITHUB_WORKSPACE/scripts/check-hy3000-env.sh
          $GITHUB_WORKSPACE//scripts/check-hy3000-env.sh

