name: test
on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Projects
        uses: actions/checkout@main
      
     
      # 5. 最大化磁盘空间（避免爆盘）
      - name: Expand disk space
        run: |
          df -h
          ls -l
          echo $GITHUB_WORKSPACE
          sudo mkdir -p /mnt/tt
          cp  ./hy3000/target/linux/mediatek/image/filogic.mk /mnt/tt/
          ls -l /mnt/tt/

        # 4. 运行新版检测脚本（检查 openwrt/ 目录）
      - name: Run hy3000 environment check
        run: |
          chmod +x ./scripts/check-hy3000-env.sh
          ./scripts/check-hy3000-env.sh

