name: Build HY3000 (ImmortalWrt 25.12)

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. 拉取你自己的仓库（三件套 + 检测脚本）
      #- name: Checkout open-immortalwrt-mt7981 repo
      #  uses: actions/checkout@v4
     
      # 5. 最大化磁盘空间（避免爆盘）
      - name: Expand disk space
        run: |
          echo "Before cleanup:"
          df -h
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/hostedtoolcache
          sudo docker system prune -af || true
          echo "After cleanup:"
          df -h
          echo $GITHUB_WORKSPACE
          ls ./
          ls ./hy3000
          



      # 4. 运行新版检测脚本（检查 openwrt/ 目录）
    #  - name: Run hy3000 environment check
    #    run: |
    #      chmod +x $GITHUB_WORKSPACE/scripts/check-hy3000-env.sh
    #      $GITHUB_WORKSPACE//scripts/check-hy3000-env.sh



      #
