name: test
on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. 拉取你自己的仓库（三件套 + 检测脚本）
      #- name: Checkout open-immortalwrt-mt7981 repo
      #  uses: actions/checkout@v4
      - name: Checkout Projects
        uses: actions/checkout@main
       
           

          



      # 4. 运行新版检测脚本（检查 openwrt/ 目录）
      - name: Run hy3000 environment check
        run: |
           df -h
          #ls $GITHUB_WORKSPACE
          chmod +x $GITHUB_WORKSPACE/scripts/check-hy3000-env.sh
          $GITHUB_WORKSPACE/scripts/check-hy3000-env.sh

